@if (!hidden()) {
  <div
    class="ui-input-container"
    [class.ui-input-invalid]="invalid()"
    [class.ui-input-disabled]="disabled()"
  >
    @if (label()) {
      <label class="ui-input-label" [id]="labelId" [attr.for]="controlId">
        {{ label() }}

        @if (required()) {
          <span class="ui-input-required" aria-hidden="true">*</span>
        }
      </label>
    }

    <ui-input-error
      [open]="showErrorTooltip()"
      [messages]="errorMessages()"
      [panelId]="errorTooltipId"
    >
      <ng-content />
    </ui-input-error>

    @if (disabledReasonMessages().length) {
      <span class="ui-input-disabled-reason">
        @for (message of disabledReasonMessages(); track message) {
          <span>{{ message }}</span>
        }
      </span>
    }
  </div>
}
