@if (!hidden()) {
  <div
    class="ui-input-container"
    [class.ui-input-invalid]="invalid()"
    [class.ui-input-disabled]="disabled()"
  >
    @if (label()) {
      <label class="ui-input-label" [id]="labelId" [attr.for]="controlId">
        {{ label() }}

        @if (required()) {
          <span class="ui-input-required" aria-hidden="true">*</span>
        }
      </label>
    }

    <ui-floating-content
      class="ui-input-control"
      [open]="showErrorTooltip()"
      variant="destructive"
    >
      <ng-content />

      @if (errorMessages().length) {
        <ui-floating-content-panel
          [id]="errorTooltipId"
          role="alert"
        >
          @for (message of errorMessages(); track message) {
            <span>{{ message }}</span>
          }
        </ui-floating-content-panel>
      }
    </ui-floating-content>

    @if (disabledReasonMessages().length) {
      <span class="ui-input-disabled-reason">
        @for (message of disabledReasonMessages(); track message) {
          <span>{{ message }}</span>
        }
      </span>
    }
  </div>
}
