@if (!hidden()) {
  <div
    class="ui-input-container"
    [class.ui-input-invalid]="invalid()"
    [class.ui-input-disabled]="disabled()"
  >
    @if (label()) {
      <label class="ui-input-label" [id]="labelId" [attr.for]="controlId">
        {{ label() }}

        @if (required()) {
          <span class="ui-input-required" aria-hidden="true">*</span>
        }
      </label>
    }

    <ui-field-error
      class="ui-input-control"
      [open]="showErrorMessage()"
      [messages]="errorMessages()"
      [panelId]="errorId"
      [additionalAnchorName]="popupAnchorName()"
    >
      <div class="ui-input-slot ui-input-slot-start">
        <ng-content select="[slot='start']" />
      </div>
      <div class="ui-input-control-content"><ng-content /></div>
      <div class="ui-input-slot ui-input-slot-end">
        <ng-content select="[slot='end']" />

        @if (loading()) {
          <ui-loading slot="end" class="ui-input-loading" decorative />
        }
      </div>
    </ui-field-error>

    @if (disabledReasonMessages().length) {
      <span class="ui-input-disabled-reason">
        @for (message of disabledReasonMessages(); track message) {
          <span>{{ message }}</span>
        }
      </span>
    }
  </div>
}
