ui-input-error {
  display: grid;
  min-width: 0;
  width: 100%;
}

.ui-input-error-panel {
  --panel-background: var(--color-destructive);
  --panel-text-color: contrast-color(var(--panel-background));
  --panel-gap: 0.25rem;
  --panel-shadow: 0 4px 6px -1px var(--shadow-color-default);
}

.ui-input-error-surface span {
  display: block;
}
