ui-tooltip-panel {
  --panel-background: CanvasText;
  --panel-border-color: color-mix(in srgb, var(--panel-background) 82%, var(--border-color-strong));
  --panel-text-color: Canvas;
}

.ui-tooltip-trigger[interestfor] {
  cursor: help;
  interest-delay-start: 0.3s;
  interest-delay-end: 0.1s;
}
