:host {
  --ui-input-label-color: var(--text-color-muted);
  --ui-input-required-color: var(--color-brand);

  --ui-input-border-color: var(--border-color-default);
  --ui-input-invalid-border-color: var(--border-color-strong);
  --ui-input-focus-visible-border-color: var(--color-brand);
  --ui-input-invalid-focus-visible-border-color: var(--ui-input-invalid-border-color);

  --ui-input-background: var(--background-color-elevated);
  --ui-input-placeholder-color: color-mix(in srgb, var(--text-color-muted) 50%, transparent);

  --ui-input-disabled-reason-color: var(--text-color-muted);

  anchor-scope: --ui-input-control;
  display: block;
  min-width: 0;
  width: 100%;
}

.ui-input-container {
  display: grid;
  gap: 0.75rem;
  min-width: 0;
  width: 100%;

  &.ui-input-invalid {
    & .ui-input-control {
      --ui-input-current-border-color: var(--ui-input-invalid-border-color);
      --ui-input-current-focus-visible-border-color: var(
        --ui-input-invalid-focus-visible-border-color
      );
    }
  }
}

.ui-input-label {
  color: var(--ui-input-label-color);
  font-size: 0.875rem;
  font-weight: 800;

  & .ui-input-required {
    color: var(--ui-input-required-color);
    margin-left: 0.125rem;
  }
}

.ui-input-control {
  --ui-input-current-border-color: var(--ui-input-border-color);
  --ui-input-current-focus-visible-border-color: var(--ui-input-focus-visible-border-color);

  anchor-name: --ui-input-control;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;
  gap: 0.5rem;
  min-width: 0;
  position: relative;
  width: 100%;
}

:host ::ng-deep input {
  display: block;
}

:host ::ng-deep input,
:host ::ng-deep [ngCombobox] {
  min-width: 0;
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--ui-input-current-border-color);
  border-radius: 0.5rem;
  background-color: var(--ui-input-background);
  color: contrast-color(var(--ui-input-background));
  font: inherit;
  padding: 0 1rem;
  outline: none;
}

:host ::ng-deep input::placeholder {
  color: var(--ui-input-placeholder-color);
}

:host ::ng-deep input:disabled,
:host ::ng-deep [ngCombobox][aria-disabled='true'] {
  cursor: default;
  opacity: 0.6;
}

:host ::ng-deep input:focus-visible,
:host ::ng-deep [ngCombobox]:focus-visible,
:host ::ng-deep [ngCombobox]:has(:focus-visible) {
  border-color: var(--ui-input-current-focus-visible-border-color);
  outline: 3px solid
    color-mix(in srgb, var(--ui-input-current-focus-visible-border-color) 30%, transparent);
}

.ui-input-disabled-reason {
  color: var(--ui-input-disabled-reason-color);
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.45;

  & span {
    display: block;
  }
}
