<ui-input [label]="label()" [placeholder]="placeholder()" [showError]="showError()">
  <input
    ngCombobox
    #combobox="ngCombobox"
    [(value)]="inputValue"
    [(expanded)]="popupExpanded"
    [disabled]="disabled()"
    [inlineSuggestion]="inlineSuggestion()"
    [preserveContent]="true"
    class="autocomplete-input ui-popover-trigger"
    type="text"
    (blur)="touch.emit()"
  />
</ui-input>

@if (popupExpanded()) {
  <ng-container [ngTemplateOutlet]="popupTemplate" />
}

<ng-template #popupTemplate>
  <ng-template ngComboboxPopup [combobox]="combobox">
    <div
      #popupElement
      class="ui-popover-surface ui-autocomplete-popup"
      popover="auto"
      (toggle)="onPopupToggle($event)"
    >
      @if (hasOptions()) {
        <div
          #listbox="ngListbox"
          ngListbox
          class="ui-popover-list"
          [multi]="false"
          ngComboboxWidget
          [tabindex]="-1"
          focusMode="activedescendant"
          selectionMode="explicit"
          [disabled]="disabled()"
          [(value)]="selectedValues"
          [activeDescendant]="listbox.activeDescendant()"
          (click)="onListboxClick($event)"
          (keydown.enter)="onCommit()"
          (keydown.space)="onCommit()"
        >
          @for (option of filteredOptions(); track option) {
            <div
              ngOption
              #ngOption="ngOption"
              class="ui-popover-option"
              [value]="option.value()"
              [label]="option.label()"
            >
              <span class="flex-1">{{ option.label() }}</span>

              @if (ngOption.selected()) {
                <ui-icon name="outline-check" class="icon-check" />
              }
            </div>
          }
        </div>
      } @else {
        <div class="empty-state" ngComboboxWidget>{{ emptyText() }}</div>
      }
    </div>
  </ng-template>
</ng-template>
