<div ngTabs class="ui-tab-root">
  <div
    ngTabList
    class="ui-tab-list"
    [class.ui-tab-list-pills]="variant() === 'pills'"
    [class.ui-tab-list-line]="variant() === 'line'"
    [class.ui-tab-list-fluid]="fluid()"
    [selectedTab]="tabListSelectedTab()"
    (selectedTabChange)="onSelectedTabChange($event)"
    [aria-label]="ariaLabel()"
    [attr.aria-labelledby]="ariaLabelledby() || null"
    [selectionMode]="selectionMode()"
    [orientation]="orientation()"
    [wrap]="wrap()"
    [softDisabled]="softDisabled()"
    (pointerdown)="onTabListInteraction()"
    (click)="onTabListInteraction()"
    (keydown)="onTabListInteraction()"
  >
    @for (item of items(); track item) {
      <button
        ngTab
        class="ui-tab-trigger"
        type="button"
        [value]="item.value()"
        [disabled]="item.disabled()"
        (pointerdown)="onTabListInteraction()"
        (mousedown)="onTabListInteraction()"
        (click)="onTabListInteraction()"
        (keydown)="onTabListInteraction()"
      >
        {{ item.displayLabel() }}
      </button>
    }

    <span class="ui-tab-indicator" aria-hidden="true"></span>
  </div>

  <div class="ui-tab-panels">
    @for (item of items(); track item) {
      <section
        ngTabPanel
        class="ui-tab-panel"
        [value]="item.value()"
        [preserveContent]="preserveContent()"
      >
        <ng-template ngTabContent>
          <ng-container [ngTemplateOutlet]="item.template()" />
        </ng-template>
      </section>
    }
  </div>
</div>
