<ui-input [label]="label()" [showError]="showError()">
  <input
    ngCombobox
    #combobox="ngCombobox"
    [(value)]="inputValue"
    [(expanded)]="popupExpanded"
    [disabled]="disabled()"
    [inlineSuggestion]="inlineSuggestion()"
    [preserveContent]="true"
    class="autocomplete-input"
    type="text"
    placeholder="Search labels"
    (blur)="touch.emit()"
  />
</ui-input>

@if (popupExpanded()) {
  <ng-container [ngTemplateOutlet]="popupTemplate" />
}

<ng-template #popupTemplate>
  <ng-template ngComboboxPopup [combobox]="combobox">
    <div
      #popupElement
      class="ui-autocomplete-popup"
      popover="auto"
      (toggle)="onPopupToggle($event)"
    >
      @if (hasOptions()) {
        <div
          #listbox="ngListbox"
          ngListbox
          [multi]="false"
          ngComboboxWidget
          [tabindex]="-1"
          focusMode="activedescendant"
          selectionMode="explicit"
          [disabled]="disabled()"
          [(value)]="selectedValues"
          [activeDescendant]="listbox.activeDescendant()"
          (click)="onCommit()"
          (keydown.enter)="onCommit()"
          (keydown.space)="onCommit()"
        >
          @for (option of filteredOptions(); track option) {
            <div ngOption #ngOption="ngOption" [value]="option.value()" [label]="option.label()">
              <span class="flex-1">{{ option.label() }}</span>

              @if (ngOption.selected()) {
                <ui-icon name="outline-check" class="icon-check" />
              }
            </div>
          }
        </div>
      } @else {
        <div class="empty-state" ngComboboxWidget>No matches</div>
      }
    </div>
  </ng-template>
</ng-template>
