<span
  #stateElement
  class="ui-button-state"
  [attr.data-loading]="displayedLoading()"
  [attr.data-swap-phase]="stateSwapPhase()"
  (transitionend)="onStateTransitionEnd($event)"
>
  @if (displayedLoading()) {
    <ui-loading class="ui-button-loading-indicator" decorative />
  }

  <span class="ui-button-content">
    <span class="ui-button-slot"><ng-content select="[slot='start']" /></span>
    <ng-content />
    <span class="ui-button-slot"><ng-content select="[slot='end']" /></span>
  </span>
</span>
