@if (!hidden()) {
  <fieldset
    class="ui-radio-group"
    [class.ui-radio-group-invalid]="invalid()"
    [class.ui-radio-group-disabled]="disabled()"
    [attr.aria-describedby]="describedBy()"
  >
    @if (label()) {
      <legend class="ui-radio-group-legend">
        {{ label() }}

        @if (required()) {
          <span class="ui-radio-group-required" aria-hidden="true">*</span>
        }
      </legend>
    }

    @if (description()) {
      <span class="ui-radio-group-description" [id]="descriptionId">{{ description() }}</span>
    }

    <div class="ui-radio-group-options">
      <ng-content />
    </div>

    @if (showErrorMessage()) {
      <span class="ui-radio-group-error" [id]="errorId" role="alert">
        @for (message of errorMessages(); track message) {
          <span>{{ message }}</span>
        }
      </span>
    }

    @if (disabledReasonMessages().length) {
      <span class="ui-radio-group-disabled-reason" [id]="disabledReasonId">
        @for (message of disabledReasonMessages(); track message) {
          <span>{{ message }}</span>
        }
      </span>
    }
  </fieldset>
}
