<div
  ngMenu
  #menuPanel="ngMenu"
  class="ui-popup-surface ui-menu-panel"
  popover="auto"
  (itemSelected)="onItemSelected($event)"
  (toggle)="onPopoverToggle($event)"
>
  <div class="ui-popup-box">
    <ng-template ngMenuContent>
      @for (item of items(); track item) {
        <div
          ngMenuItem
          class="ui-popup-option ui-menu-item"
          [value]="item.value()"
          [disabled]="item.disabled()"
        >
          <ng-container [ngTemplateOutlet]="item.template()" />
        </div>
      }
    </ng-template>
  </div>
</div>

<ng-content />
