<div ngTabs class="ui-tab-root">
  <ui-segmented
    ngTabList
    class="ui-tab-list"
    [(selectedTab)]="selectedTab"
    [appearance]="appearance()"
    [fluid]="fluid()"
    [elevated]="false"
    selection="none"
    [selectionMode]="selectionMode()"
    [orientation]="orientation()"
    [wrap]="wrap()"
    [softDisabled]="softDisabled()"
  >
    @for (item of items(); track item) {
      <ui-segmented-item
        [value]="item.value()"
        [disabled]="item.disabled()"
      >
        <button
          ngTab
          class="ui-tab-trigger"
          type="button"
          [value]="item.value()"
          [disabled]="item.disabled()"
        >
          {{ item.displayLabel() }}
        </button>
      </ui-segmented-item>
    }
  </ui-segmented>

  <div class="ui-tab-panels">
    @for (item of items(); track item) {
      <section
        ngTabPanel
        class="ui-tab-panel"
        [value]="item.value()"
        [preserveContent]="preserveContent()"
      >
        <ng-template ngTabContent>
          <ng-container [ngTemplateOutlet]="item.template()" />
        </ng-template>
      </section>
    }
  </div>
</div>
