<ui-input [label]="label()" [showError]="showError()">
  <div
    ngCombobox
    #combobox="ngCombobox"
    [(expanded)]="popupExpanded"
    [disabled]="disabled()"
    [preserveContent]="true"
    class="select ui-popup-trigger"
    (blur)="touch.emit()"
  >
    <span class="combobox-label">
      <span class="selected-label-text" [class.selected-label-placeholder]="isPlaceholderVisible()">
        {{ displayValue() }}
      </span>
    </span>

    <ui-icon name="outline-chevron-down" class="icon-chevron-down"></ui-icon>
  </div>
</ui-input>

@if (popupExpanded()) {
  <ng-container [ngTemplateOutlet]="popupTemplate" />
}

<ng-template #popupTemplate>
  <ng-template ngComboboxPopup [combobox]="combobox">
    <div
      #popupElement
      class="ui-popup-surface ui-select-popup"
      popover="auto"
      (toggle)="onPopupToggle($event)"
    >
      <div
        #listbox="ngListbox"
        ngListbox
        class="ui-popup-list"
        [multi]="multi()"
        ngComboboxWidget
        [tabindex]="-1"
        focusMode="activedescendant"
        selectionMode="explicit"
        [disabled]="disabled()"
        [(value)]="selectedValues"
        [activeDescendant]="listbox.activeDescendant()"
        (click)="onListboxClick($event)"
        (keydown.enter)="onCommit()"
        (keydown.space)="onCommit()"
      >
        @for (item of renderItems(); track item.group ?? item.option) {
          @if (item.group; as group) {
            <div class="ui-select-group" role="group" [attr.aria-label]="group.label()">
              <div class="ui-select-group-label" aria-hidden="true">{{ group.label() }}</div>

              @for (option of group.options(); track option) {
                <div
                  ngOption
                  #ngOption="ngOption"
                  class="ui-popup-option"
                  [value]="option.value()"
                >
                  <span class="flex-1">{{ option.label() }}</span>

                  @if (ngOption.selected()) {
                    <ui-icon name="outline-check" class="icon-check" />
                  }
                </div>
              }
            </div>
          } @else if (item.option; as option) {
            <div ngOption #ngOption="ngOption" class="ui-popup-option" [value]="option.value()">
              <span class="flex-1">{{ option.label() }}</span>

              @if (ngOption.selected()) {
                <ui-icon name="outline-check" class="icon-check" />
              }
            </div>
          }
        }
      </div>
    </div>
  </ng-template>
</ng-template>
