<ui-input [label]="label()" [showError]="showError()">
  <div
    ngCombobox
    #combobox="ngCombobox"
    [(expanded)]="popupExpanded"
    [disabled]="disabled()"
    [preserveContent]="true"
    class="select"
    (blur)="touch.emit()"
  >
    <span class="combobox-label">
      <span class="selected-label-text">{{ displayValue() }}</span>
    </span>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="icon-tabler-chevron-down"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path
        d="M18.707 8.293a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1 -1.414 0l-6 -6a1 1 0 0 1 1.414 -1.414l5.293 5.293l5.293 -5.293a1 1 0 0 1 1.414 0"
      />
    </svg>
  </div>
</ui-input>

@if (popupExpanded()) {
  <ng-container [ngTemplateOutlet]="popupTemplate" />
}

<ng-template #popupTemplate>
  <ng-template ngComboboxPopup [combobox]="combobox">
    <div class="ui-select-popup">
      <div
        #listbox="ngListbox"
        ngListbox
        [multi]="false"
        ngComboboxWidget
        [tabindex]="-1"
        focusMode="activedescendant"
        selectionMode="explicit"
        [disabled]="disabled()"
        [(value)]="selectedValues"
        [activeDescendant]="listbox.activeDescendant()"
        (click)="onListboxClick($event)"
        (keydown.enter)="onCommit()"
        (keydown.space)="onCommit()"
      >
        @for (item of renderItems(); track item.group ?? item.option) {
          @if (item.group; as group) {
            <div class="ui-select-group" role="group" [attr.aria-label]="group.label()">
              <div class="ui-select-group-label" aria-hidden="true">{{ group.label() }}</div>

              @for (option of group.options(); track option) {
                <div ngOption #ngOption="ngOption" [value]="option.value()">
                  <span class="flex-1">{{ option.label() }}</span>

                  @if (ngOption.selected()) {
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="icon-tabler-check"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M20.707 6.293a1 1 0 0 1 0 1.414l-10 10a1 1 0 0 1 -1.414 0l-5 -5a1 1 0 0 1 1.414 -1.414l4.293 4.293l9.293 -9.293a1 1 0 0 1 1.414 0"
                      />
                    </svg>
                  }
                </div>
              }
            </div>
          } @else if (item.option; as option) {
            <div ngOption #ngOption="ngOption" [value]="option.value()">
              <span class="flex-1">{{ option.label() }}</span>

              @if (ngOption.selected()) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="icon-tabler-check"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M20.707 6.293a1 1 0 0 1 0 1.414l-10 10a1 1 0 0 1 -1.414 0l-5 -5a1 1 0 0 1 1.414 -1.414l4.293 4.293l9.293 -9.293a1 1 0 0 1 1.414 0"
                  />
                </svg>
              }
            </div>
          }
        }
      </div>
    </div>
  </ng-template>
</ng-template>
